---
const today = new Date();
---

<footer class="py-10 px-8 text-center border-t">
  <div class="w-full gap-3 max-w-screen-lg mx-auto align-middle m-auto">
    &copy; {today.getFullYear()} John Konecny. All rights reserved.
  </div>
</footer>
