---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header class="py-10 px-8 border-b">
  <nav class="w-full max-w-screen-lg m-auto h-full text-center">
    <h2 class="float-none md:float-left">
      <HeaderLink href="/">{SITE_TITLE}</HeaderLink>
    </h2>
    <div class="float-none md:float-right *:px-4">
      <HeaderLink href="/blog">Blog</HeaderLink>
      <HeaderLink href="/about">About</HeaderLink>
      <HeaderLink href="https://github.com/jfkonecn" target="_blank"
        >GitHub</HeaderLink
      >
    </div>
  </nav>
</header>
